.main-form{
  width: 80%;
  margin: 0 auto;
 
  header {
    margin-right: 110px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .location_indicator {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
   
  }
  .paragraph {
    margin-bottom: 2rem;
  }
}
.date-form-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  height: fit-content;
  padding: 2rem;
}
.tab1_main_form {
  width: 80%;
  border: 1px solid #E8EAED;
  border-radius: 16px;
  padding: 32px;
  margin: auto;
  position: relative;
}
.complex-table-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  height: fit-content;
  padding: 2rem;
  border: 1px solid #E8EAED;
  border-radius: 16px;
}